<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="inetbanking">
<listeners>
<listener class-name="com.banking.Utilities.reporting"/>


</listeners>
  <test name="bankingapp test">
  <parameter name="browser" value="chrome"/>
    <classes>
        <class name="com.banking.testCases.TC001_logintest"/> 
            <!--  <class name="com.banking.testCases.TC_LoginDDT_002"/> -->
            <!--  > <class name="com.banking.testCases.TC_addcustomer_003"/>  -->
       
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
